body {
    background: #1d1d1d;
    color: #FFF;
    font-family: Verdana;
    font-size: 14px;
}
.navbar-default {
    background-color: #1d1d1d;
    border-color: green;
}
.jumbotron{
    background-color: transparent ;
}
.tbl-border td {
	border: 1px solid white;
	text-align: center; 
	width: 30px;
}